RewriteEngine On
RewriteBase /PROJECT_REMASTERED/

#Halaman utama
RewriteRule ^$ index.php [L,QSA]

#Halaman statis
RewriteRule ^home$        index.php?page=homepage    [L,QSA]
RewriteRule ^top$         index.php?page=topanime    [L,QSA]
RewriteRule ^watch$       index.php?page=watch       [L,QSA]
RewriteRule ^news$        index.php?page=news        [L,QSA]
RewriteRule ^form$        index.php?page=form        [L,QSA]
RewriteRule ^contact-us$  index.php?page=contactus   [L,QSA]
RewriteRule ^about$       index.php?page=aboutme     [L,QSA]
RewriteRule ^login$       index.php?page=login       [L,QSA]
RewriteRule ^signup$      index.php?page=signup      [L,QSA]
RewriteRule ^logout$      index.php?page=logout      [L,QSA]
RewriteRule ^promote$     index.php?page=promote     [L,QSA]

# Detail anime: /detail/123  atau /detail/123/
RewriteRule ^detail/([0-9]+)/?$   index.php?page=detail&anime_id=$1   [L,QSA]

# Detail berita: /newsdetail/456  atau /newsdetail/456/
RewriteRule ^newsdetail/([0-9]+)/?$  index.php?page=newsdetail&news_id=$1  [L,QSA]